<div id="live2d_entry"></div>

<div class="wrapper">
    <div class="show-intensity">
        <div class="intensity-text">
            <div *ngIf="quake; else elseBlock">
                {{ quake }}
            </div>
            <ng-template #elseBlock>現在地震の情報はありません</ng-template>
        </div>
    </div>
    <div class="change-intensity">
        <div class="change-button">
            <button mat-raised-button color="primary" (click)="changeMotion(2)">揺らしてみる</button>
            <button mat-raised-button color="primary" (click)="getOnceTodayQuakes(true, true)">最新データ取得</button>
        </div>
    </div>
    <div class="nav-arrow-area">
        <div class="icon-container">
            <div class="item">
                <button mat-icon-button color="primary" aria-label="icon button" onclick="location.href='#atchart'">
                    <mat-icon>keyboard_double_arrow_down</mat-icon>
                </button>
            </div>
            <div class="sokuhou_label">
                地震速報
            </div>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart" id="atchart">
            <table mat-table [dataSource]="todayQuakes" class="mat-elevation-z8 quake-table">
                <!-- time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef> 時刻 </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>

                <!-- hypocenter Column -->
                <ng-container matColumnDef="hypocenter">
                    <th mat-header-cell *matHeaderCellDef> 震源地 </th>
                    <td mat-cell *matCellDef="let element"> {{element.hypocenter}} </td>
                </ng-container>

                <!-- maxScale Column -->
                <ng-container matColumnDef="maxScale">
                    <th mat-header-cell *matHeaderCellDef> 最大震度 </th>
                    <td mat-cell *matCellDef="let element"> 震度{{element.maxScale}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['time', 'hypocenter', 'maxScale']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['time', 'hypocenter', 'maxScale'];"></tr>
            </table>
        </div>
    </div>
</div>