<app-live2d-page></app-live2d-page>

<div class="footer">
    <div class="links">
        <div class="item">
            <button mat-icon-button aria-label="twitter" onclick="location.href='https://hanadamaya.net/'">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="item">
            <button mat-icon-button aria-label="nico" onclick="location.href='https://www.nicovideo.jp/user/118625279'">
                <mat-icon>live_tv</mat-icon>
            </button>
        </div>
        <div class="item">
            <button mat-icon-button aria-label="github" onclick="location.href='https://github.com/maya-hanada/seismometer-app-live2d'">
                <mat-icon>code</mat-icon>
            </button>
        </div>
    </div>
    <div class="copyright">© 2022 Hanada Maya</div>
</div>