@use '@angular/material' as mat;
$myapp-typography: mat.m2-define-typography-config(
  $font-family: '"Noto Sans JP", Roboto, "Helvetica Neue", sans-serif',
  $button: mat.m2-define-typography-level(
    $font-size: 2vh,
    $line-height: 14px,
    $font-weight: 500,
    $letter-spacing: normal,
  ),
);
@include mat.all-component-typographies($myapp-typography);

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans JP", Roboto, "Helvetica Neue", sans-serif;
}
