@use '@angular/material' as mat;
$myapp-typography: mat.define-typography-config(
  $font-family: '"Noto Sans JP", Roboto, "Helvetica Neue", sans-serif',
);
@include mat.all-component-typographies($myapp-typography);

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans JP", Roboto, "Helvetica Neue", sans-serif;
}
